#django-rest-swagger {
    background: #547f00;
    color: #375a6a;
    text-align:left;
    padding: 7px 0;
    font-size: 1em;
}
#django-rest-swagger a {
    color: #0052cc;
    text-decoration: none;
}

#django-rest-swagger span {
    color: #375a6a;
    font-weight: bold;
}

.footer {
    display: none;
}
